# JetBrains-IDE-mappen vill man sallan ha under source control.
.idea/
debug.log
# den här raden säger att allt under `./me/`-mappen ska ignoreras av git, ...
me/
# men vi kan lata kmom06 vara icke-ignorerad med ett "!"
!me/kmom06/
bin/
build/
.venv/
venv/
vendor/
node_modules/
package-lock.json
.log/
exam/
inspect-gui
klingochklang/

example/sqlite/ping.db
example/intro-challenge/folder*

__pycache__
*.pyc

# VSCode
.vscode/

# Mac OS
.DS_Store
